/*#greeting {*/
/*  background-color: #F8F8F8;*/
/*  font-family: 'Open Sans', sans-serif;*/
/*  font-size: 24px;*/
/*  margin: 15px;*/
/*}*/

#chart {
	width: 209px;
	list-style: none;
	/*border-left: solid 1px #666;
	border-bottom: solid 1px #666;*/
	margin-bottom: 20px;
}

#chart li, #chart li span {
	height: 10px;
}

#chart li .percent {
	width: 30px;
	position: absolute;
	top: 0;
	right: -40px;
	text-align: right;
}

#chart li {
	position: relative;
	display: block;
	width: 204px;
	margin: 0 0 20px 5px;
	text-align: left;
	margin-left: -30px;
}

#chart li .bar {
	width: 10px;
    border: 1px solid #57B1FF;
    background: white;
    height: 20px;
}

#chart li .

/*.n1 .bar {
	background: blue;
}

.n2 .bar {
	background: blue;
}

.n3 .bar {
	background: yellow;
}

.n4 .bar {
	background: purple;
}

.n5 .bar {
	background: orange;
}*/


